/* General */
h1 {
  font-size: 80px !important;
  font-weight: bold;
  font-family: "BEBAS NEUE";
  color: white;
}
h2 {
  font-size: 36px !important;
  font-weight: bold;
  font-family: "BEBAS NEUE";
  color: white;
}
h3 {
  font-size: 24px !important;
  font-weight: bold;
  font-family: "BEBAS NEUE";
  color: white;
}
body {
  font-size: 18px !important;
  font-family: "Open Sans";
  color: white;
}
sub {
  font-size: 14px !important;
  font-family: "Open Sans";
  color: white;
}
button {
  font-size: 16px !important;
  font-family: "Open Sans";
}
nav {
  font-size: 12px !important;
  font-weight: bold;
  font-family: "Open Sans";
  color: white;
  text-transform: uppercase;
}

.debug {
  border: 1px solid red;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
